body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

div.item:first-child {
  margin-top: 0px;
}

div.item {
  cursor: pointer;
  padding: 3px 8px;
  width: 150px;
  font-size: 0.8em;
  margin-top: 1px;
  border: 1px solid #eeeeee
}

div.soakbararea {
  display:block;
  padding: 3px 8px;
  background-color: #f1f1f1;
}

input.soakbar {
  width: 90%;
  padding: 3px 3px;
  border: 1px solid #e8e8e8;
  outline: none;
}

div.item:hover {
  background: #eeeeee;
}
