@font-face{
  font-family: 'Cantarell';
  src: url('../font/Cantarell-Regular.ttf');
}

@font-face{
  font-family: 'icons';
  src: url('../font/icons.ttf');
}


/* Reset HTML5 Elements */
header, section, footer, aside, nav, body, ul, li{
  margin: 0;
  left: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* Reset list Elements */
ul, dl, ol{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus{
  outline: none;
}

li:hover{
  cursor: hand;
  pointer: hand;
}


body {
  font-family: 'icons', 'Cantarell';
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
  background-color: #134272;
}

div.item:first-child {
  margin-top: 0px;
}

div.item {
  cursor: pointer;
  padding: 3px;
  width: 150px;
  color: #444;
  font-size: 0.8em;
  text-shadow: 0 1px 0 #f0f0f0;
  margin-top: 1px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

.soak-area {
  display:block;
  background-color: #f1f1f1;
}

.soak-ctl {
  width: 150px;
  padding: 3px 3px;
}

.soak-input {
  border: 1px solid #e8e8e8;
  outline: none;
}

.soak-btn {
  display:none;
}

div.item:hover {
  background: #eeeeee;
}

#soak-name {
  display:none;
}

/* iMaZiNe Section ---------------------------------------------- */
  /* SOAK Query Input Box */
  #soak-query{
    width: 220px;
    height: 26px;
    margin: 22px 40px;
    border: 0;
    padding: 0 10px;
    border: 4px solid rgba( 255, 255, 255, 0.3 );
    border-radius: 16px;
    background-color: rgba( 160, 160, 160, 0.4 );
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
  }

  /* Library Select Box */ 
  .librarySelectBox{
    width: 320px;
  }

  .librarySelectBox li{
    margin: 0 0 1px;
    width: 280px;
    padding: 12px 20px;
    background-color: rgba( 160, 160, 160, 0.4 );
  }

    .librarySelectBox li:hover{
      background-color: rgba( 63, 169, 245, 0.7 )
    }

    .librarySelectBox li:before{
      content: attr(data-libName);
    }

    .slideButton{
      content: '';
      width: 50px;
      height: 30px;
      border-radius: 22px;
      float: right;
      display: inline-block;
      background-color: rgba( 255, 255, 255, 0.5 );
      margin-top: -4px;
      -webkit-transition: all 0.3s ease;
    }

    .slideButton:after{
      position: relative;
      content: '';
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      display: inline-block;
      border-radius: 26px;
      background-color: #fff;
      -webkit-transition: all 0.3s ease;
      box-shadow: 1px 2px 4px rgba( 0, 0, 0, 0.1 );
    }

    .selected{
      background-color: #3fa9f5;
    }

    .selected:after{
      left: 23px;
    }

    .librarySelectBox .invalid-url{
      background-color: rgba( 180, 0, 0, 0.2 );
      text-align: center;
      display: none;
    }

  /* Background Cloud Image */
  .cloudImage{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-filter: blur(6px);
    z-index: -1;
  }

  .cloudImage img{
    width: 320px;
    margin: 0;
    padding: 0;
    border: none;
  }

  /* Bottom Navigator */
  nav{
    /*margin-bottom: 10px;*/
    color: rgba( 255, 255, 255, 0.6 );
  }

  nav ul{
    position: relative;
    top: -5px;
    display: inline-block;
  }

    nav li{
      padding-bottom: 10px;
      width: 79px;
      margin-right: -2px;
      text-align: center;
      display: inline-block;
      background-color: rgba( 160, 160, 160, 0.4 );
    }

    nav li:hover{
      background-color: rgba( 63, 169, 245, 0.7 );
      color: #fff;
    }

    nav li:before{
      font-family: 'icons';
      font-size: 16px;
      text-transform: none;
      text-shadow: none;
      line-height: 1;
      display: block;
      padding: 12px 0;
      width: 40px;
      margin: 10px auto 4px;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 100px;
      -webkit-font-smoothing: antialiased;
    }

    nav li:hover:before{
      border-color: #fff;
    }

    nav .slideButton{
      float: none;
      text-align: left;
      margin: 13px;
    }

    .icon-add:before{
      content: '\e002';
    }

    .icon-remove:before{
      content: '\e001';
    }

    .icon-inject:before{
      content: '\e000';
    }