/* Reset HTML5 Elements */
header, section, footer, aside, nav, body, ul, li{
  margin: 0;
  left: 0;
  padding: 0;
  display: block;
}

/* Reset list Elements */
ul, dl, ol{
  list-style: none;
  display: block;
}


body {
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  overflow: auto;
}

div.item:first-child {
  margin-top: 0px;
}

div.item {
  cursor: pointer;
  padding: 3px;
  width: 150px;
  color: #444;
  font-size: 0.8em;
  text-shadow: 0 1px 0 #f0f0f0;
  margin-top: 1px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

.soak-area {
  display:block;
  background-color: #f1f1f1;
}

.soak-ctl {
  width: 150px;
  padding: 3px 3px;
}

.soak-input {
  border: 1px solid #e8e8e8;
  outline: none;
}

.soak-btn {
  display:none;
}

div.item:hover {
  background: #eeeeee;
}

#soak-name {
  display:none;
}

.invalid-url {
  display:none;
  width: 150px;
  padding: 5px;
  text-align: center;
}

/* iMaZiNe Section ---------------------------------------------- */

  /* Library Select Box */ 
  .librarySelectBox{
    width: 320px;
    color: #fff;
  }

  .librarySelectBox li{
    margin: 0 1px 1px 1px;
    width: 100%;
    padding: 20px 10px;
    background-color: rgba( 180, 180, 180, 0.4 );
  }

    .librarySelectBox .msgBox{
      background-color: rgba( 180, 10, 10, 0.4);
      text-align: center;
    }

  /* Background Cloud Image */
  .cloudImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-filter: blur(12px);
    z-index: -1;
  }